.container {
  width: 47rem;
  height: auto;
  min-height: 80vh;
  position: relative;
  border: 2px solid rgb(128, 22, 92);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 1.5rem rgb(128, 22, 92);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.formBox.register {
  left: 0;
  padding: 0 3.7rem 0 2.8rem;
}
.formBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.formBox h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
.inputStyle {
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 1.8rem 0;
}
.inputStyle input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  padding-right: 1.5rem;
  border-bottom: 2px solid #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.inputStyle input:focus,
.inputStyle input:valid {
  border-bottom-color: rgb(128, 22, 92);
}

.inputStyle label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  margin-top: 0.2rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.inputStyle input:focus ~ label,
.inputStyle input:not([value=""]) ~ label,
.inputStyle input:valid ~ label {
  top: -5px;
  color: rgb(128, 22, 92);
}

.icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.inputStyle input:focus ~ .icon,
.inputStyle input:valid ~ .icon {
  color: rgb(128, 22, 92);
}
.inputStyle input[type="password"]::-ms-reveal,
.inputStyle input[type="password"]::-ms-clear {
  display: none !important;
}

.submitButton {
  position: relative;
  width: 100%;
  height: 2.8rem;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  z-index: 1;
  overflow: hidden;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.submitButton::before {
  content: "";
  width: 100%;
  height: 300%;
  top: -100%;
  left: 0;
  z-index: -1;
  position: absolute;
  background: linear-gradient(
    #081b27,
    rgb(128, 22, 92),
    #081b27,
    rgb(128, 22, 92)
  );
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.submitButton:hover:before {
  top: 0;
}
.info {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info.register {
  right: 0;
  text-align: right;
  padding: 0 2.2rem 4rem 9.5rem;
}
.info h2 {
  font-size: 1.7rem;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
}
.info p {
  font-size: 1rem;
  color: #fff;
}
.background {
  position: absolute;
  top: -4px;
  right: 0;
  width: 54rem;
  height: 38rem;
  border-bottom: 1px solid rgb(128, 22, 92);
  background: linear-gradient(45deg, #081b27, rgb(128, 22, 92));
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  -webkit-transform: rotate(10deg) skewY(40deg);
  -moz-transform: rotate(10deg) skewY(40deg);
  -ms-transform: rotate(10deg) skewY(40deg);
  -o-transform: rotate(10deg) skewY(40deg);
}
.message {
  display: block;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 0.85rem;
  color: rgb(128, 22, 92);
}
@media (max-width: 425px) {
  .container {
    max-width: 18rem;
  }

  .formBox.register {
    width: 100%;
    padding: 0 1rem 0 1rem;
  }
  .formBox h2 {
    font-size: 1rem;
  }
  .inputStyle {
    height: 2rem;
    margin: 1.7rem 0;
  }
  .inputStyle label {
    font-size: 0.7rem;
  }
  .message {
    margin-top: 0.3rem;
    font-size: 0.7rem;
  }
  .icon {
    font-size: 0.9rem;
  }
  .submitButton {
    height: 2rem;
    font-size: 0.8rem;
  }
  .info.register {
    display: none;
  }
  .formBox {
    width: 100%;
    align-items: center;
  }
  .background {
    display: none;
  }
}
@media (max-width: 770px) and (min-width: 426px) {
  .container {
    width: 35rem;
  }
  .formBox.register {
    left: 0;
    padding: 0 4.2rem 0 1rem;
  }

  .formBox h2 {
    font-size: 1.5rem;
  }
  .inputStyle {
    height: 2rem;
    margin: 1.5rem 0;
  }
  .inputStyle label {
    font-size: 0.7rem;
  }
  .message {
    font-size: 0.6rem;
  }
  .icon {
    font-size: 0.9rem;
  }
  .submitButton {
    height: 2rem;
  }
  .info.register {
    padding: 0 1rem 2rem 7rem;
  }
  .info h2 {
    font-size: 1.28rem;
    line-height: 1.4;
  }
  .info p {
    font-size: 0.7rem;
  }
  .background {
    transform: rotate(15deg) skewY(40deg);
    -webkit-transform: rotate(15deg) skewY(40deg);
    -moz-transform: rotate(15deg) skewY(40deg);
    -ms-transform: rotate(15deg) skewY(40deg);
    -o-transform: rotate(15deg) skewY(40deg);
  }
}
